* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Asap', sans-serif;
    background-color: rgb(17, 11, 22);
}
header {
    background-color: white;
    padding: 20px;
}
header h1 {
    color: rgb(19, 16, 16);
    text-align: center;
}
.score-board {
    border: 3px solid white;
    width: 200px;
    margin: 50px auto 20px auto;
    border-radius: 4px;
    color: white;
    font-size: 46px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}
.badge {
    background-color: rgb(248, 32, 32);
    font-size: 14px;
    padding: 5px 12px;
}
#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}
#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;
}
.result {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.choices {
    display: flex;
    width: 600px;
    margin: 50px auto;
    justify-content: space-between;
}
.choice button {
    padding: 20px 50px;
    font-size: 30px;
    background-color: rgb(139, 127, 19);
    border-radius: 5px;
}
.choice button:hover {
    margin-top: 5px;
    margin-bottom: -5px;
    cursor: pointer;
}
#action-message {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}






